# This is a temporary .pylintrc file during refactoring.

[MASTER]
ignore-patterns=test_.*?py,
                # TODO: REMOVE
                bisc.py,
                bisc_subfunctions.py
ignore= tests
init-hook="from pylint.config.find_default_config_files import find_default_config_files; import os, sys; sys.path.append(os.path.dirname(os.path.dirname(find_default_config_files()[0]))+'/permuta')"
disable=missing-module-docstring,
        fixme,
        unsubscriptable-object,
        unspecified-encoding
good-names=i,j,n,k,x,y,_

[SIMILARITIES]
ignore-imports=yes